// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.chat {
  display: flex;
  align-items: flex-end;
  background: lightgoldenrodyellow;
  font-size: 12px;
  padding: 24px 32px;
  border: 1px solid rgb(124, 122, 122);
}

 .banner {
   background: rgb(185, 223, 228);
   h1 {
     font-size: 50px;
     padding: 16px;
     text-shadow: 2px 2px 2px #5c5b5b;
   }
 }

 .person{
   color: darkolivegreen;
   font-size: 20x;
   text-shadow: .5px .5px .5px darkgray;
   border: 8px;
 }

 h3{
   color: lightgrey;
   text-shadow: 1px 1px 1px #5c5b5b;
 }
